/***************************
Global
***************************/

html,
body {
    font-family: $font;
}

/***************************
Header section
***************************/

.top-header {
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    padding: 1em 0;
    a {
        width: 100%;
        max-width: 100px;
    }
    img {
        max-width: 100px;
        animation: app-logo-spin infinite 15s linear;
    }
    h1 {
        display: inline-block;
        margin: 0;
    }
}

/***************************
Body section
***************************/

/* home page */

.main-content {
    margin: 1em 0;
    padding: 0 1em;
}

.homepg-selection {
    h1 {
        text-align: center;
        font-weight: bold;
        margin: 1em 0;
    }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-choice {
    padding: 0.5em 1.5em;
    color: $blue;
    background-color: $black;
    text-transform: capitalize;
    font-size: 1.3em;
    margin: 5px 15px;
    cursor: pointer;
    border: 2px solid $black;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $white;
        color: $black;
        text-decoration: none;
        border-color: $blue;
    }
}

/* query search page */

.query-pageTitle {
    color: $blue;
    font-weight: bold;
    text-transform: capitalize;
}

.query-search-btns {
    margin: 1em 0;
}

.query-input-fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    input {
        width: 65%;
    }
    a {
        width: 30%;
    }
}

.query-params-title {
    padding-bottom: 10px;
    font-size: 1.5em;
    span {
        position: relative;
        color: $blue;
        text-transform: capitalize;
        margin: 0.5em 0;
        padding-bottom: 10px;
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $blue;
            height: 2px;
            content: '';
        }
    }
}

/* query results page */

.query-results-btn-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.query-component-contanier {
    margin-top: 1em;
}

.query-fetched-header {
    h1 {
        font-size: 2em;
        text-transform: capitalize;
    }
    h3 {
        text-transform: capitalize;
    }
}

.query-fetched-content-container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.query-fetched-content {
    border: 2px solid $blue;
    padding: 0.4em;
    margin: 0.5em 0;
    text-align: center;
    width: 100%;
    img {
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        height: auto;
        object-fit: cover;
    }
    .query-image-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 2px solid $black;
        padding-bottom: 5px;
    }
    .read-more-btn {
        display: inline-block;
        text-decoration: none;
        color: $white;
        background-color: $blue;
        border: 2px solid $blue;
        border-radius: 5px;
        padding: 5px 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: transparent;
            color: $blue;
        }
    }
}

.article-content {
    word-break: break-all;
}

/* prev next btns */

.pagination-container {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.pagination-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.prevBtn,
.nextBtn {
    display: inline-block;
    button {
        display: flex;
        align-items: center;
        background-color: $black;
        color: $blue;
        border: 2px solid $black;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 1%;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
    i {
        padding: 0 5px;
    }
}

/***************************
Animations section
***************************/

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}