/***************************
Fonts
***************************/
$font: 'Montserrat', sans-serif;

/***************************
Colors
***************************/
$black: #222;
$white: #fff;
$gray: #878787;
$blue: #5adafd;